.user-order {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
  }
  .order-title {
    color: #272727;
    font-family: "Almarai";
    font-size: 16px;
    font-weight: bold;
  }
  
  .stat {
    color: #979797;
    font-family: Cairo;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: right;
  }
  /* end user order */
  
  /* user Address */
  
  .user-address-card {
    height: 151px;
    width: 100%;
    border-radius: 7px;
  
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
  }
  .btn-add-address {
    border: none;
    height: 50px;
    width: 100%;
    color: white;
    border-radius: 9px;
    background-color: #272727;
  }
.user-data {
    /* height: 270px; */
    width: 100% i !important;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
  }

  .admin-content-text {
    color: #ff5f00;
    font-family: Almarai;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 28px;
    text-align: right;
  }